n8n-workflows/cross-analysis-pipeline.json
{
  "name": "Workflow 3: Cross-Competitor Analysis (Insights Engine)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cross-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "cross-analysis"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst own_profile_id = body.own_profile_id;\nconst user_id = body.user_id;\nconst own_username = (body.own_username || '').toString().replace(/^@/, '').trim().toLowerCase();\n\nif (!own_profile_id) throw new Error('Missing required field: own_profile_id');\nif (!/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(own_profile_id)) {\n  throw new Error('own_profile_id must be a valid UUID');\n}\nif (!user_id) throw new Error('Missing required field: user_id');\nif (!/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(user_id)) {\n  throw new Error('user_id must be a valid UUID');\n}\n// own_username is optional but strongly recommended — Parse & Enrich uses\n// it to scrub Claude's example_posts of any reference to the user's own\n// account that slipped past the prompt rules.\n\nreturn [{ json: { own_profile_id, user_id, own_username } }];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://arujkowiihftpghmxlwv.supabase.co/rest/v1/posts?profile_id=eq.{{ $json.own_profile_id }}&order=likes.desc&limit=100&select=platform_post_id,content_type,caption,likes,comments,views,engagement_rate,posted_at",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SECRET_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SECRET_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-own-posts",
      "name": "Fetch Own Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://arujkowiihftpghmxlwv.supabase.co/rest/v1/profiles?is_own=eq.false&platform=eq.instagram&user_id=eq.{{ $('Validate Input').first().json.user_id }}&select=id,username,followers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SECRET_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SECRET_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-competitors",
      "name": "Fetch Competitors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        500
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Merge own posts and competitor list, validate we have enough, build competitor IDs for next query\n// Fetch Own Posts and Fetch Competitors are parallel branches from Validate Input — both will have executed by now.\nlet ownItems = [];\nlet compItems = [];\ntry { ownItems = $('Fetch Own Posts').all(); } catch (e) { ownItems = []; }\ntry { compItems = $('Fetch Competitors').all(); } catch (e) { compItems = []; }\n\n// HTTP node may return either one item whose json is an array, or N items each a row.\nfunction flatten(items) {\n  if (!items || items.length === 0) return [];\n  if (items.length === 1 && Array.isArray(items[0].json)) return items[0].json;\n  return items.map(i => i.json);\n}\n\nconst own_posts = flatten(ownItems);\nconst competitors = flatten(compItems);\n\nconst own_profile_id = $('Validate Input').first().json.own_profile_id;\n\nif (own_posts.length === 0) {\n  throw new Error(`No posts found for own_profile_id ${own_profile_id}. Scrape your own profile first.`);\n}\nif (competitors.length < 2) {\n  throw new Error(`Need at least 2 competitor profiles. Found: ${competitors.length}. Add and scrape competitors first.`);\n}\n\nconst competitor_ids = competitors.map(c => c.id);\n\nreturn [{ json: { own_profile_id, own_posts, competitors, competitor_ids } }];"
      },
      "id": "merge-profiles",
      "name": "Merge Profiles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://arujkowiihftpghmxlwv.supabase.co/rest/v1/posts?profile_id=in.({{ $json.competitor_ids.join(',') }})&order=likes.desc&limit=300&select=profile_id,platform_post_id,content_type,caption,likes,comments,views,engagement_rate,posted_at",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SECRET_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SECRET_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-all-competitor-posts",
      "name": "Fetch All Competitor Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "function sanitize(str) {\n  if (!str) return '';\n  return str.replace(/[\\uD800-\\uDFFF]/g, '').replace(/[\\x00-\\x1F\\x7F]/g, ' ').trim();\n}\n\nfunction formatPosts(posts, limit) {\n  if (!posts || posts.length === 0) return '  (no posts scraped yet)';\n  return posts.slice(0, limit).map((p, i) => {\n    const caption = sanitize(p.caption || '').slice(0, 100);\n    const date = (p.posted_at || '').slice(0, 10);\n    return `  ${String(i+1).padStart(2)}. [${(p.content_type||'unknown').padEnd(8)}] ${date} | L:${p.likes||0} C:${p.comments||0} V:${p.views||0} | \"${caption}\"`;\n  }).join('\\n');\n}\n\nconst upstream = $('Merge Profiles').first().json;\nconst validate = $('Validate Input').first().json;\nconst { own_profile_id, own_posts, competitors } = upstream;\nconst own_username = (validate.own_username || '').toLowerCase();\nconst ownHandleLabel = own_username ? '@' + own_username : 'own_account';\n\nconst allPostsRaw = $input.first().json;\nconst allPosts = Array.isArray(allPostsRaw) ? allPostsRaw : [allPostsRaw];\n\nconst postsByProfile = {};\nfor (const post of allPosts) {\n  if (!postsByProfile[post.profile_id]) postsByProfile[post.profile_id] = [];\n  postsByProfile[post.profile_id].push(post);\n}\n\nconst competitorCount = competitors.length;\n\nconst ownSection = '--- USER OWN ACCOUNT (' + ownHandleLabel + ') --- ' + own_posts.length + ' posts, top by likes ---\\n' + formatPosts(own_posts, 30);\n\nlet competitorSections = '';\nfor (const comp of competitors) {\n  const posts = postsByProfile[comp.id] || [];\n  competitorSections += '\\n--- COMPETITOR: @' + comp.username + ' (' + posts.length + ' posts) ---\\n' + formatPosts(posts, 50) + '\\n';\n}\n\nconst systemPrompt = 'You are a social media growth analyst specialising in Instagram content strategy. Analyze all provided posts and detect content patterns that consistently outperform average engagement. Return ONLY a valid JSON array, no markdown, no code blocks, no explanation outside the JSON. Every recommendation must be concrete enough that the creator can film it tomorrow without asking follow-up questions.';\n\nconst userPrompt = 'Analyze the following Instagram posts from ' + competitorCount + ' competitor accounts plus the user own account (' + ownHandleLabel + ').\\n\\n' +\n'The user goal is to discover NEW content ideas inspired by competitors. Even when the user already does a pattern, you must surface what specifically the competitors do BETTER or DIFFERENTLY.\\n\\n' +\n'IDENTIFY CONTENT PATTERNS across all accounts. Consider patterns such as: episodic series, problem/solution, gear review, montage/recap, origin story, vulnerability/personal story, human connection moment, educational how-to, food and culture, scenic adventure, behind-the-scenes, challenge/transformation, Q&A, day-in-life, gear failure/mistake, achievement celebration, myth-busting, comparison, route/destination reveal.\\n\\n' +\n'For EACH pattern identified:\\n' +\n'1. Determine which competitors have it in their TOP 20% posts by likes\\n' +\n'2. Default validated trend = appears in top 20% posts of 2+ competitors AND in at least 30% of all tracked competitors\\n' +\n'3. Calculate performance_multiplier = average likes of posts with this pattern / average likes of all posts for that competitor\\n\\n' +\nownSection + '\\n' + competitorSections + '\\n' +\n'Return a JSON ARRAY (0-7 items), sorted by performance_multiplier descending. Each item MUST have exactly this structure:\\n' +\n'{\\n' +\n'  \"trend_name\": \"Short descriptive name like \\'Episodic Series Content\\'\",\\n' +\n'  \"one_line_summary\": \"Max 100 characters. Action-oriented.\",\\n' +\n'  \"competitor_count\": 4,\\n' +\n'  \"total_competitors\": ' + competitorCount + ',\\n' +\n'  \"performance_multiplier\": 3.2,\\n' +\n'  \"why_it_works\": \"1-2 sentences explaining the psychological/algorithmic reason this pattern drives engagement\",\\n' +\n'  \"competitor_edge\": \"REQUIRED - one specific concrete thing competitors do differently or better. E.g. \\'Competitor X uses 15-second cuts vs your 45-second cuts, getting 3x more engagement.\\'\",\\n' +\n'  \"example_posts\": [\\n' +\n'    {\"caption_preview\": \"first 80 chars of caption\", \"likes\": 1234, \"comments\": 56, \"competitor\": \"@username\"},\\n' +\n'    {\"caption_preview\": \"...\", \"likes\": 890, \"comments\": 34, \"competitor\": \"@differentusername\"}\\n' +\n'  ],\\n' +\n'  \"brief\": {\\n' +\n'    \"content\": \"Describe the format in ONE sentence: length, shot type, pacing.\",\\n' +\n'    \"hook\": \"The literal opening 3 seconds, word-for-word.\",\\n' +\n'    \"caption_structure\": \"Multi-line template using newline characters.\",\\n' +\n'    \"best_time\": \"Specific day + 2-hour window.\",\\n' +\n'    \"hashtags\": [\"bikepacking\", \"adventurecycling\", \"biketour\"]\\n' +\n'  },\\n' +\n'  \"user_doing_it\": true\\n' +\n'}\\n\\n' +\n'Critical rules - read these twice before returning:\\n\\n' +\n'Validation thresholds:\\n' +\n'- competitor_count is the integer number of competitors (NOT the user own account) whose TOP-20% posts show this pattern.\\n' +\n'- Default rule: competitor_count MUST be >= 2 AND (competitor_count / ' + competitorCount + ') MUST be >= 0.3 (at least 30% of tracked competitors).\\n' +\n'- FALLBACK: You MUST return AT LEAST 2 trends where user_doing_it is false. If applying the strict rule above produces fewer than 2 such trends, include EMERGING patterns from a single competitor (competitor_count = 1) provided performance_multiplier > 3. The fallback is allowed only to fill the new-ideas quota.\\n' +\n'- total_competitors is always the integer ' + competitorCount + '.\\n\\n' +\n'example_posts rules:\\n' +\n'- example_posts must NEVER include posts from the user own account (' + ownHandleLabel + '). Only competitor posts.\\n' +\n'- example_posts MUST include posts from at least 2 different competitors UNLESS this is an emerging single-competitor fallback trend.\\n' +\n'- Each example_post.competitor field must be the actual @username of the competitor - never \"own_account\", never \"user\", never the user own handle.\\n' +\n'- A given post (same competitor + same caption) MUST appear in at most ONE trend example_posts. Do not reuse the same post across multiple trends.\\n' +\n'- Sort example_posts by likes descending.\\n\\n' +\n'competitor_edge rules:\\n' +\n'- REQUIRED for every trend, including ones where user_doing_it is true.\\n' +\n'- Must be a concrete observation: a specific stylistic, structural, or production-quality difference. Avoid generic phrases.\\n' +\n'- For user_doing_it=true trends: contrast what the user does vs what competitors do better.\\n' +\n'- For user_doing_it=false trends: describe the standout craft choice that makes the pattern land.\\n\\n' +\n'performance_multiplier:\\n' +\n'- Ratio: (avg likes of posts matching pattern) / (avg likes of ALL posts for that competitor).\\n' +\n'- Number (not a string) between 1.5 and 25.\\n\\n' +\n'Content rules:\\n' +\n'- one_line_summary max 100 chars, starts with action verb.\\n' +\n'- brief.content, brief.hook, brief.caption_structure, brief.best_time are REQUIRED strings. brief.hashtags is a REQUIRED array of 5-8 plain strings without the # prefix.\\n' +\n'- user_doing_it must be a boolean.\\n\\n' +\n'Return ONLY the JSON array. Empty array [] is acceptable only if NO pattern meets the bar, including the emerging fallback.';\n\nreturn [{ json: { own_profile_id, own_username, system_prompt: systemPrompt, user_prompt: userPrompt, competitor_count: competitorCount } }];\n"
      },
      "id": "build-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-5', max_tokens: 4096, system: $json.system_prompt, messages: [{ role: 'user', content: $json.user_prompt }] }) }}",
        "options": {}
      },
      "id": "call-claude",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst rawText = resp?.content?.[0]?.text;\nif (!rawText) throw new Error('Claude returned no content. Response: ' + JSON.stringify(resp));\n\nconst cleaned = rawText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\nlet trends;\ntry {\n  trends = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Failed to parse Claude JSON: ' + e.message + '\\nRaw: ' + cleaned.slice(0, 500));\n}\n\nif (!Array.isArray(trends)) throw new Error('Expected JSON array from Claude, got: ' + typeof trends);\n\nconst upstream = $('Build Claude Prompt').first().json;\nconst own_profile_id = upstream.own_profile_id;\nconst own_username = (upstream.own_username || '').toLowerCase();\nconst total_competitors = upstream.competitor_count;\n\nfunction basics(t) {\n  const mult = typeof t.performance_multiplier === 'number' ? t.performance_multiplier : parseFloat(t.performance_multiplier) || 0;\n  const compCount = Number.isFinite(t.competitor_count) ? Math.round(t.competitor_count) : 0;\n  return { mult, compCount };\n}\n\nfunction meetsStrict(t) {\n  const { mult, compCount } = basics(t);\n  if (compCount < 2) return false;\n  if (total_competitors > 0 && compCount / total_competitors < 0.3) return false;\n  if (mult < 1.5 || mult > 25) return false;\n  return true;\n}\n\nfunction isEmergingFallback(t) {\n  const { mult, compCount } = basics(t);\n  if (compCount !== 1) return false;\n  if (mult <= 3 || mult > 25) return false;\n  if (t.user_doing_it === true) return false;\n  return true;\n}\n\nconst strict = trends.filter(meetsStrict);\nconst strictNewIdeas = strict.filter(t => t.user_doing_it === false).length;\n\nlet admitted = strict.slice();\nif (strictNewIdeas < 2) {\n  const need = 2 - strictNewIdeas;\n  const emerging = trends\n    .filter(t => !strict.includes(t) && isEmergingFallback(t))\n    .sort((a, b) => (b.performance_multiplier || 0) - (a.performance_multiplier || 0))\n    .slice(0, need);\n  admitted = strict.concat(emerging);\n  console.log('Admitted ' + emerging.length + ' emerging fallback trend(s) to reach the new-ideas floor');\n}\n\nconst seenExampleKeys = new Set();\nfunction exampleKey(ex) {\n  const comp = String(ex.competitor || '').replace(/^@/, '').toLowerCase();\n  const cap = String(ex.caption_preview || '').toLowerCase().replace(/\\s+/g, ' ').slice(0, 40);\n  return comp + '::' + cap;\n}\n\nconst enriched = admitted.map(t => {\n  const examples = Array.isArray(t.example_posts) ? t.example_posts : [];\n  const ownScrubbed = examples.filter(ex => {\n    const comp = String(ex.competitor || '').replace(/^@/, '').toLowerCase();\n    const isOwn =\n      comp === 'own_account' ||\n      comp === 'user' ||\n      (own_username && comp === own_username);\n    if (isOwn) console.log('Removed own-handle example from trend \"' + t.trend_name + '\"');\n    return !isOwn;\n  });\n  const deduped = ownScrubbed.filter(ex => {\n    const k = exampleKey(ex);\n    if (seenExampleKeys.has(k)) {\n      console.log('Removed duplicate example \"' + (ex.caption_preview || '').slice(0, 30) + '\" from trend \"' + t.trend_name + '\"');\n      return false;\n    }\n    seenExampleKeys.add(k);\n    return true;\n  });\n  return Object.assign({}, t, { example_posts: deduped });\n});\n\nconst withExamples = enriched.filter(t => Array.isArray(t.example_posts) && t.example_posts.length > 0);\nconsole.log('After own-scrub + cross-trend dedup: ' + withExamples.length + ' of ' + admitted.length + ' trends retained');\n\nconst final = withExamples.map(t => {\n  const brief = (t.brief && typeof t.brief === 'object') ? t.brief : {};\n  const multiplier = typeof t.performance_multiplier === 'number' ? t.performance_multiplier : parseFloat(t.performance_multiplier) || 0;\n  const competitor_count = Number.isFinite(t.competitor_count) ? Math.round(t.competitor_count) : null;\n  const effective_total = Number.isFinite(t.total_competitors) ? Math.round(t.total_competitors) : total_competitors;\n  const confidence = competitor_count != null && effective_total > 0\n    ? competitor_count / effective_total\n    : 0;\n  const hashtags = Array.isArray(brief.hashtags)\n    ? brief.hashtags.map(h => String(h).replace(/^#/, '').trim()).filter(Boolean)\n    : null;\n  return {\n    profile_id: own_profile_id,\n    trend_name: t.trend_name || 'Unknown Trend',\n    one_line_summary: typeof t.one_line_summary === 'string' ? t.one_line_summary.slice(0, 140) : null,\n    competitor_count,\n    total_competitors: effective_total,\n    confidence,\n    performance_multiplier: multiplier,\n    why_it_works: t.why_it_works || '',\n    competitor_edge: typeof t.competitor_edge === 'string' ? t.competitor_edge.slice(0, 500) : null,\n    example_posts: JSON.stringify(t.example_posts || []),\n    content_format: typeof brief.content === 'string' ? brief.content : null,\n    hook: typeof brief.hook === 'string' ? brief.hook : null,\n    caption_structure: typeof brief.caption_structure === 'string' ? brief.caption_structure : null,\n    best_time: typeof brief.best_time === 'string' ? brief.best_time : null,\n    hashtags: hashtags ? JSON.stringify(hashtags) : null,\n    recommendation: t.mega_tip || t.one_line_summary || '',\n    suggested_schedule: typeof brief.best_time === 'string' ? brief.best_time : '',\n    is_mega_tip: t.user_doing_it === false && multiplier > 2,\n    user_doing_it: t.user_doing_it === true\n  };\n});\n\nconsole.log('Parsed ' + final.length + ' trends. Mega-tips: ' + final.filter(t => t.is_mega_tip).length);\n\nif (final.length === 0) {\n  return [{ json: { _empty: true, profile_id: own_profile_id, total_competitors } }];\n}\n\nreturn final.map(r => ({ json: r }));\n"
      },
      "id": "parse-response",
      "name": "Parse & Enrich Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-trends-check",
              "leftValue": "={{ $json._empty !== true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-trends",
      "name": "If Has Trends",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1900,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://arujkowiihftpghmxlwv.supabase.co/rest/v1/trend_insights",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SECRET_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SECRET_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ profile_id: $json.profile_id, trend_name: $json.trend_name, one_line_summary: $json.one_line_summary, competitor_count: $json.competitor_count, total_competitors: $json.total_competitors, confidence: $json.confidence, performance_multiplier: $json.performance_multiplier, competitor_edge: $json.competitor_edge, example_posts: $json.example_posts, content_format: $json.content_format, hook: $json.hook, caption_structure: $json.caption_structure, best_time: $json.best_time, hashtags: $json.hashtags ? JSON.parse($json.hashtags) : null, recommendation: $json.recommendation, suggested_schedule: $json.suggested_schedule, is_mega_tip: $json.is_mega_tip }) }}",
        "options": {}
      },
      "id": "insert-insight",
      "name": "Insert Trend Insight",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter out the _empty sentinel that If-Has-Trends routes around the\n// Insert step. Without this, an empty-result run would be reported as\n// trends_detected: 1 with a garbage row in the response.\nconst allUpstream = $('Parse & Enrich Response').all();\nconst upstream = allUpstream.filter(i => !(i.json && i.json._empty));\n\nconst megaTips = upstream.filter(i => i.json.is_mega_tip).length;\nconst total = upstream.length;\n\nreturn [{\n  json: {\n    success: true,\n    trends_detected: total,\n    mega_tips: megaTips,\n    insights: upstream.map(i => ({\n      trend_name: i.json.trend_name,\n      confidence_label: i.json.confidence_label,\n      performance_multiplier: i.json.performance_multiplier,\n      is_mega_tip: i.json.is_mega_tip,\n      user_doing_it: i.json.user_doing_it\n    }))\n  }\n}];"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2440,
        400
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Fetch Own Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Competitors": {
      "main": [
        [
          {
            "node": "Merge Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Profiles": {
      "main": [
        [
          {
            "node": "Fetch All Competitor Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Competitor Posts": {
      "main": [
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Parse & Enrich Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Enrich Response": {
      "main": [
        [
          {
            "node": "If Has Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Trends": {
      "main": [
        [
          {
            "node": "Insert Trend Insight",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Trend Insight": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-06T00:00:00.000Z",
  "versionId": "1"
}